################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CSC-373/v15/Browse.VC.opendb
/.vs/CSC-373/v15/Browse.VC.db
/Week1/InClass/MultTable/.vs/MultTable/v15/Browse.VC.db
/Week1/InClass/MultTable/.vs/MultTable/v15/Browse.VC.opendb
/Week1/HW/HW1/.vs/HW1/v15/Browse.VC.opendb
/Week2/InClass/LoopAddresses/.vs/LoopAddresses/v15/Browse.VC.opendb
